<!DOCTYPE html>
<html lang="ja">
  <head>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="床井浩平">
    <meta name="description" content="{{ page.description | default: '和歌山大学システム工学部 床井研究室の学生向けのブログのアーカイブです' }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}床井研究室</title>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tokoik">
    <meta name="twitter:title" content="{{ page.title | default: '床井研究室' }}">
    <meta name="twitter:description" content="和歌山大学システム工学部 床井研究室の学生向けのブログのアーカイブです">
    <meta name="twitter:image" content="{{ '/assets/images/laboratory.png' | absolute_url }}">

    <!-- OGP -->
    <meta property="og:title" content="{{ page.title | default: '床井研究室' }}">
    <meta property="og:site_name" content="床井研究室">
    <meta property="og:description" content="和歌山大学システム工学部 床井研究室の学生向けのブログのアーカイブです">
    <meta property="og:image" content="{{ '/assets/images/laboratory.png' | absolute_url }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:locale" content="ja_JP">

    <!-- Favocon -->
    <link rel="shortcut icon" href="{{ '/assets/images/favocon.ico' | relative_url }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">

    <!-- MathJax 4 -->
    {% if page.math %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    {% endif %}

  </head>
  <body>

    <header>
      <h1><a href="{{ '/' | relative_url }}">床井研究室</a></h1>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>{% if page.title %}■ {% if page.date %}{{ page.date | date: "%Y年%m月%d日" }} - {% endif %}{{ page.title }}{% endif %}</h2>
        <div>
          <button {% if page.previous %}onclick="location.href='{{ page.previous | relative_url }}'"{% else %}disabled{% endif %}>前</button>
          <button {% if page.next %}onclick="location.href='{{ page.next | relative_url }}'"{% else %}disabled{% endif %}>次</button>
        </div>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" width="80" height="15"></a>
    </footer>

  </body>
</html>
